# Build files
bin/
obj/

# Node modules
node_modules/

# Static assets (if built automatically, otherwise remove this)
wwwroot/

# User-specific project settings
*.csproj.user

# Logs
Logs/
internal_logs/

# Package lock files
yarn.lock
package-lock.json

# ABP package file
todoapp.abppkg

# Local development settings
appsettings.json
appsettings.Development.json

# Docker
Dockerfile.local
